<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/developer.js') }}"></script>
    <script type="module">
        $("#navbar").load("/navbar");
    </script>
</head>

<body style="padding-top: 56px">

<nav id="navbar" style="position: fixed; width: 100%; top: 0; left: 0; z-index: 1000"></nav>

<main role="main" class="p-3 container-fluid">
    <h1>
        <i class="bi-terminal-fill"></i>
        Developer
    </h1>

    <div class="my-3 p-3 row rounded border shadow-lg">
        <h2 class="mb-3">
            <i class="bi-music-note-beamed"></i>
            Add Music
        </h2>

        <form action="/register-music" method="POST">
            <div class="row mb-3">
                <div class="col-4 mb-3">
                    <label for="music-id" class="fw-bold">
                        <i class="bi-key-fill"></i>
                        ID
                    </label>
                    <input required id="music-id" class="form-control" name="id" type="number" min="1" step="1" placeholder="ID">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 mb-3">
                    <label for="music-title" class="fw-bold">
                        <i class="bi-tag-fill"></i>
                        Title
                    </label>
                    <input required id="music-title" class="form-control" name="title" type="text" maxlength="127" placeholder="Title">
                </div>

                <div class="col-4 mb-3">
                    <label for="music-ruby" class="fw-bold">
                        <i class="bi-tag-fill"></i>
                        Ruby
                    </label>

                    <select id="music-ruby" class="form-select" name="ruby">
                        <option selected>Choose Ruby...</option>
                        <option value="A～G">A～G</option>
                        <option value="H～N">H～N</option>
                        <option value="O～U">O～U</option>
                        <option value="V～Z">V～Z</option>
                        <option value="あ行">あ行</option>
                        <option value="か行">か行</option>
                        <option value="さ行">さ行</option>
                        <option value="た行">た行</option>
                        <option value="な行">な行</option>
                        <option value="は行">は行</option>
                        <option value="ま行">ま行</option>
                        <option value="や行">や行</option>
                        <option value="ら行">ら行</option>
                        <option value="わ行">わ行</option>
                        <option value="数字">数字</option>
                    </select>
                </div>

                <div class="col-4 mb-3">
                    <label for="music-artist" class="fw-bold">
                        <i class="bi-person-check-fill"></i>
                        Artist
                    </label>
                    <input required id="music-artist" class="form-control" name="artist" type="text" maxlength="127" placeholder="Artist">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 mb-3">
                    <label for="music-genre" class="fw-bold">
                        <i class="bi-music-note-list"></i>
                        Genre
                    </label>
                    <select id="music-genre" class="form-select" name="genre">
                        <option selected>Choose Genre...</option>
                        <option value="POPS&ANIME">POPS&ANIME</option>
                        <option value="niconico">niconico</option>
                        <option value="東方Project">東方Project</option>
                        <option value="VARIETY">VARIETY</option>
                        <option value="イロドリミドリ">イロドリミドリ</option>
                        <option value="ゲキマイ">ゲキマイ</option>
                        <option value="ORIGINAL">ORIGINAL</option>
                        <option value="WORLD'S END">WORLD'S END</option>
                        <option value="ULTIMA">ULTIMA</option>
                    </select>
                </div>

                <div class="col-4 mb-3">
                    <label for="music-version" class="fw-bold">
                        <i class="bi-calendar-check"></i>
                        Version
                    </label>
                    <select id="music-version" class="form-select" name="version">
                        <option selected>Choose Version...</option>
                        <option value="CHUNITHM">CHUNITHM</option>
                        <option value="CHUNITHM PLUS">CHUNITHM PLUS</option>
                        <option value="AIR">AIR</option>
                        <option value="AIR PLUS">AIR PLUS</option>
                        <option value="STAR">STAR</option>
                        <option value="STAR PLUS">STAR PLUS</option>
                        <option value="AMAZON">AMAZON</option>
                        <option value="AMAZON PLUS">AMAZON PLUS</option>
                        <option value="CRYSTAL">CRYSTAL</option>
                        <option value="CRYSTAL PLUS">CRYSTAL PLUS</option>
                        <option value="PARADISE">PARADISE</option>
                        <option value="PARADISE LOST">PARADISE LOST</option>
                        <option value="NEW">NEW</option>
                        <option value="NEW PLUS">NEW PLUS</option>
                        <option value="SUN">SUN</option>
                        <option value="SUN PLUS">SUN PLUS</option>
                    </select>
                </div>

                <div class="col-4 mb-3">
                    <label for="music-bpm" class="fw-bold">
                        <i class="bi-music-note"></i>
                        BPM
                    </label>
                    <input required id="music-bpm" class="form-control" name="bpm" type="number" step="1" placeholder="BPM">
                </div>
            </div>

            <div class="row mb-3">
                <label for="music-jacket" class="fw-bold">
                    <i class="bi-music-note-list"></i>
                    Jacket URL
                </label>
                <div class="col-4 mb-3 input-group">
                    <input required id="music-jacket" class="form-control" name="jacket-url" type="text" placeholder="Jacket URL">
                    <button id="url-check-button" class="btn btn-primary" type="button">
                        <i class="bi-plus-circle-fill"></i>
                        Check URL Image
                    </button>
                </div>
            </div>

            <hr>

            <img id="jacket-check" src="{{ url_for('static', filename='img/debug.png') }}" alt="Jacket Image" width="128px" height="128px">

            <hr>

            <div class="row mb-3">
                <div class="col-3">
                    <label for="basic-const" class="fw-bold" style="color: #00AB84">
                        <i class="bi-1-square-fill"></i>
                        Basic Constant
                    </label>
                    <input required id="basic-const" class="form-control" name="basic-const" type="number" step="0.1" placeholder="Basic Constant">
                </div>

                <div class="col-3">
                    <label for="advanced-const" class="fw-bold" style="color: #FF7E00">
                        <i class="bi-2-square-fill"></i>
                        Advanced Constant
                    </label>
                    <input required id="advanced-const" class="form-control" name="advanced-const" type="number" step="0.1" placeholder="Advanced Constant">
                </div>

                <div class="col-3">
                    <label for="expert-const" class="fw-bold" style="color: #F12929">
                        <i class="bi-3-square-fill"></i>
                        Expert Constant
                    </label>
                    <input required id="expert-const" class="form-control" name="expert-const" type="number" step="0.1" placeholder="Expert Constant">
                </div>

                <div class="col-3">
                    <label for="master-const" class="fw-bold" style="color: #8E1BE5">
                        <i class="bi-4-square-fill"></i>
                        Master Constant
                    </label>
                    <input required id="master-const" class="form-control" name="master-const" type="number" step="0.1" placeholder="Master Constant">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label for="ultima-const" class="fw-bold" style="color: #FF173D">
                        <i class="bi-5-square-fill"></i>
                        Ultima Constant
                    </label>
                    <input required id="ultima-const" class="form-control" name="ultima-const" type="number" step="0.1" placeholder="Ultima Constant">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label for="expert-nd" class="fw-bold" style="color: #F12929">
                        <i class="bi-pencil-fill"></i>
                        Expert ND
                    </label>
                    <input required id="expert-nd" class="form-control" name="expert-nd" type="text" placeholder="Expert ND">
                </div>

                <div class="col-4">
                    <label for="master-nd" class="fw-bold" style="color: #8E1BE5">
                        <i class="bi-pencil-fill"></i>
                        Master ND
                    </label>
                    <input required id="master-nd" class="form-control" name="master-nd" type="text" placeholder="Master ND">
                </div>

                <div class="col-4">
                    <label for="ultima-nd" class="fw-bold" style="color: #FF173D">
                        <i class="bi-pencil-fill"></i>
                        Ultima ND
                    </label>
                    <input required id="ultima-nd" class="form-control" name="ultima-nd" type="text" placeholder="Ultima ND">
                </div>
            </div>

            <hr>

            <div class="row mb-3">
                <div class="col">
                    <button id="test-button" class="btn btn-info" type="button">
                        <i class="bi-terminal-plus"></i>
                        Test Button
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <button id="music-add-button" class="btn btn-success disabled" type="submit">
                        <i class="bi-check-circle-fill"></i>
                        Add Music
                    </button>
                </div>
            </div>

            {% if msg|length > 0 %}
                {% if success %}
                    <div class="row mb-3">
                        <div id="music-alert" class="alert alert-success">
                            {{ msg|safe }}
                        </div>
                    </div>
                {% else %}
                    <div class="row mb-3">
                        <div id="music-alert" class="alert alert-warning">
                            {{ msg|safe }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
</main>

</body>

</html>