<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OverPower</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script type="module">
        $("#navbar").load("/navbar");
    </script>
</head>

<body style="padding-top: 56px">

<nav id="navbar" style="position: fixed; width: 100%; top: 0; left: 0; z-index: 1000"></nav>

<main role="main" class="container-fluid">
    {% if msg|length > 0 %}
        <div class="m-3 p-3 row alert alert-{{ level }}">
            <nobr>
                {% if level == "success" %}
                    <i class="bi-check-circle-fill"></i>
                {% else %}
                    <i class="bi-exclamation-circle-fill"></i>
                {% endif %}
                {{ msg }}
            </nobr>
        </div>
    {% endif %}

    <div class="m-3 p-3 row rounded border shadow-lg">
        <h1 class="mb-3">OverPower</h1>

        {% if session.username|length > 0 %}
            <div class="row mb-3">
                <div class="col-4">
                    <h5 style="color: #00AB84">
                        <i class="bi-1-square-fill"></i>
                        BASIC OverPower
                    </h5>
                    <p>{{ total_op["BAS"] | round(4) }} / {{ max_op["BAS"] | round(4) }}</p>
                    <p>({{ (total_op["BAS"] / max_op["BAS"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-4">
                    <h5 style="color: #FF7E00">
                        <i class="bi-2-square-fill"></i>
                        ADVANCED OverPower
                    </h5>
                    <p>{{ total_op["ADV"] | round(4) }} / {{ max_op["ADV"] | round(4) }}</p>
                    <p>({{ (total_op["ADV"] / max_op["ADV"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-4">
                    <h5 style="color: #F12929">
                        <i class="bi-3-square-fill"></i>
                        EXPERT OverPower
                    </h5>
                    <p>{{ total_op["EXP"] | round(4) }} / {{ max_op["EXP"] | round(4) }}</p>
                    <p>({{ (total_op["EXP"] / max_op["EXP"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-4">
                    <h5 style="color: #8E1BE5">
                        <i class="bi-4-square-fill"></i>
                        MASTER OverPower
                    </h5>
                    <p>{{ total_op["MAS"] | round(4) }} / {{ max_op["MAS"] | round(4) }}</p>
                    <p>({{ (total_op["MAS"] / max_op["MAS"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-4">
                    <h5 style="color: #FF173D">
                        <i class="bi-5-square-fill"></i>
                        ULTIMA OverPower
                    </h5>
                    <p>{{ total_op["ULT"] | round(4) }} / {{ max_op["ULT"] | round(4) }}</p>
                    <p>({{ (total_op["ULT"] / max_op["ULT"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-4">
                    <h5 style="color: #388281">
                        <i class="bi-6-square-fill"></i>
                        POSSESSION OverPower
                    </h5>
                    <p>{{ total_op["POSSESSION"] | round(4) }} / {{ max_op["POSSESSION"] | round(4) }}</p>
                    <p>({{ (total_op["POSSESSION"] / max_op["POSSESSION"] * 100) | round(4) }} %)</p>
                </div>
            </div>
            <div class="row mb-3">
                <h5 style="color: #388281">
                    <i class="bi-7-square-fill"></i>
                    OverPower by Genre
                </h5>
                <div class="col-3">
                    <h6 style="color: #FF2074">POPS&ANIME</h6>
                    <p>{{ total_op["POPS&ANIME"] | round(4) }} / {{ max_op["POPS&ANIME"] | round(4) }}</p>
                    <p>({{ (total_op["POPS&ANIME"] / max_op["POPS&ANIME"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #8E1CE6">niconico</h6>
                    <p>{{ total_op["niconico"] | round(4) }} / {{ max_op["niconico"] | round(4) }}</p>
                    <p>({{ (total_op["niconico"] / max_op["niconico"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #0063D6">東方Project</h6>
                    <p>{{ total_op["東方Project"] | round(4) }} / {{ max_op["東方Project"] | round(4) }}</p>
                    <p>({{ (total_op["東方Project"] / max_op["東方Project"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #00995C">VARIETY</h6>
                    <p>{{ total_op["VARIETY"] | round(4) }} / {{ max_op["VARIETY"] | round(4) }}</p>
                    <p>({{ (total_op["VARIETY"] / max_op["VARIETY"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #FA61AE">イロドリミドリ</h6>
                    <p>{{ total_op["イロドリミドリ"] | round(4) }} / {{ max_op["イロドリミドリ"] | round(4) }}</p>
                    <p>({{ (total_op["イロドリミドリ"] / max_op["イロドリミドリ"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #5A3DC4">ゲキマイ</h6>
                    <p>{{ total_op["ゲキマイ"] | round(4) }} / {{ max_op["ゲキマイ"] | round(4) }}</p>
                    <p>({{ (total_op["ゲキマイ"] / max_op["ゲキマイ"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #FF7E01">ORIGINAL</h6>
                    <p>{{ total_op["ORIGINAL"] | round(4) }} / {{ max_op["ORIGINAL"] | round(4) }}</p>
                    <p>({{ (total_op["ORIGINAL"] / max_op["ORIGINAL"] * 100) | round(4) }} %)</p>
                </div>
            </div>
            <div class="row mb-3">
                <h5 style="color: #388281">
                    <i class="bi-8-square-fill"></i>
                    OverPower by Difficulty
                </h5>
                <div class="col-3">
                    <h6 style="color: #658a4e">10</h6>
                    <p>{{ total_op["10"] | round(4) }} / {{ max_op["10"] | round(4) }}</p>
                    <p>({{ (total_op["10"] / max_op["10"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">10+</h6>
                    <p>{{ total_op["10+"] | round(4) }} / {{ max_op["10+"] | round(4) }}</p>
                    <p>({{ (total_op["10+"] / max_op["10+"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">11</h6>
                    <p>{{ total_op["11"] | round(4) }} / {{ max_op["11"] | round(4) }}</p>
                    <p>({{ (total_op["11"] / max_op["11"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">11+</h6>
                    <p>{{ total_op["11+"] | round(4) }} / {{ max_op["11+"] | round(4) }}</p>
                    <p>({{ (total_op["11+"] / max_op["11+"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">12</h6>
                    <p>{{ total_op["12"] | round(4) }} / {{ max_op["12"] | round(4) }}</p>
                    <p>({{ (total_op["12"] / max_op["12"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">12+</h6>
                    <p>{{ total_op["12+"] | round(4) }} / {{ max_op["12+"] | round(4) }}</p>
                    <p>({{ (total_op["12+"] / max_op["12+"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">13</h6>
                    <p>{{ total_op["13"] | round(4) }} / {{ max_op["13"] | round(4) }}</p>
                    <p>({{ (total_op["13"] / max_op["13"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">13+</h6>
                    <p>{{ total_op["13+"] | round(4) }} / {{ max_op["13+"] | round(4) }}</p>
                    <p>({{ (total_op["13+"] / max_op["13+"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">14</h6>
                    <p>{{ total_op["14"] | round(4) }} / {{ max_op["14"] | round(4) }}</p>
                    <p>({{ (total_op["14"] / max_op["14"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">14+</h6>
                    <p>{{ total_op["14+"] | round(4) }} / {{ max_op["14+"] | round(4) }}</p>
                    <p>({{ (total_op["14+"] / max_op["14+"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658a4e">15</h6>
                    <p>{{ total_op["15"] | round(4) }} / {{ max_op["15"] | round(4) }}</p>
                    <p>({{ (total_op["15"] / max_op["15"] * 100) | round(4) }} %)</p>
                </div>
            </div>
            <div class="row mb-3">
                <h5 style="color: #388281">
                    <i class="bi-9-square-fill"></i>
                    OverPower by Ruby
                </h5>
                <div class="col-3">
                    <h6 style="color: #658a4e">A～G</h6>
                    <p>{{ total_op["A～G"] | round(4) }} / {{ max_op["A～G"] | round(4) }}</p>
                    <p>({{ (total_op["A～G"] / max_op["A～G"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">H～N</h6>
                    <p>{{ total_op["H～N"] | round(4) }} / {{ max_op["H～N"] | round(4) }}</p>
                    <p>({{ (total_op["H～N"] / max_op["H～N"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">O～U</h6>
                    <p>{{ total_op["O～U"] | round(4) }} / {{ max_op["O～U"] | round(4) }}</p>
                    <p>({{ (total_op["O～U"] / max_op["O～U"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">V～Z</h6>
                    <p>{{ total_op["V～Z"] | round(4) }} / {{ max_op["V～Z"] | round(4) }}</p>
                    <p>({{ (total_op["V～Z"] / max_op["V～Z"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">あ行</h6>
                    <p>{{ total_op["あ行"] | round(4) }} / {{ max_op["あ行"] | round(4) }}</p>
                    <p>({{ (total_op["あ行"] / max_op["あ行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">か行</h6>
                    <p>{{ total_op["か行"] | round(4) }} / {{ max_op["か行"] | round(4) }}</p>
                    <p>({{ (total_op["か行"] / max_op["か行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">さ行</h6>
                    <p>{{ total_op["さ行"] | round(4) }} / {{ max_op["さ行"] | round(4) }}</p>
                    <p>({{ (total_op["さ行"] / max_op["さ行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">た行</h6>
                    <p>{{ total_op["た行"] | round(4) }} / {{ max_op["た行"] | round(4) }}</p>
                    <p>({{ (total_op["た行"] / max_op["た行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">な行</h6>
                    <p>{{ total_op["な行"] | round(4) }} / {{ max_op["な行"] | round(4) }}</p>
                    <p>({{ (total_op["な行"] / max_op["な行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">は行</h6>
                    <p>{{ total_op["は行"] | round(4) }} / {{ max_op["は行"] | round(4) }}</p>
                    <p>({{ (total_op["は行"] / max_op["は行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">ま行</h6>
                    <p>{{ total_op["ま行"] | round(4) }} / {{ max_op["ま行"] | round(4) }}</p>
                    <p>({{ (total_op["ま行"] / max_op["ま行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">や行</h6>
                    <p>{{ total_op["や行"] | round(4) }} / {{ max_op["や行"] | round(4) }}</p>
                    <p>({{ (total_op["や行"] / max_op["や行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">ら行</h6>
                    <p>{{ total_op["ら行"] | round(4) }} / {{ max_op["ら行"] | round(4) }}</p>
                    <p>({{ (total_op["ら行"] / max_op["ら行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">わ行</h6>
                    <p>{{ total_op["わ行"] | round(4) }} / {{ max_op["わ行"] | round(4) }}</p>
                    <p>({{ (total_op["わ行"] / max_op["わ行"] * 100) | round(4) }} %)</p>
                </div>
                <div class="col-3">
                    <h6 style="color: #658A4E">数字</h6>
                    <p>{{ total_op["数字"] | round(4) }} / {{ max_op["数字"] | round(4) }}</p>
                    <p>({{ (total_op["数字"] / max_op["数字"] * 100) | round(4) }} %)</p>
                </div>
            </div>
        {% endif %}
    </div>
</main>

</body>

</html>