<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music List</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module">
        $("#navbar").load("/navbar");
    </script>

    <!-- 一旦無効化
    <script src="{{ url_for('static', filename='js/music-list.js') }}"></script>
    -->

    <style>
        td, th {
            white-space: nowrap;
            vertical-align: middle;
        }
    </style>
</head>

<body style="padding-top: 56px">

<nav id="navbar" style="position: fixed; width: 100%; top: 0; left: 0; z-index: 1000"></nav>

<main role="main" class="container-fluid">
    <div class="m-3 p-3 row rounded border shadow-lg">
        <h1 class="mb-3">
            <i class="bi-music-note-list"></i>
            Music List
        </h1>

        <div class="mb-3">
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% for i in range(1, max_page + 1) %}
                        {% if i == num %}
                            <li id="page-{{ i }}" class="page-item active"><a class="page-link" href="/music-list?p={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li id="page-{{ i }}" class="page-item"><a class="page-link" href="/music-list?p={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        {% if msg|length > 0 %}
            {% if success %}
                <div class="row mb-3">
                    <div id="music-alert" class="alert alert-success">
                        {{ msg|safe }}
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <div id="music-alert" class="alert alert-warning">
                        {{ msg|safe }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="mb-3 row table-responsive">
            <table id="musics-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>Jacket</th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Ruby</th>
                    <th>Artist</th>
                    <th>Genre</th>
                    <th>Version</th>
                    <th>BPM</th>
                    <th style="color: #00AB84">Basic Constant</th>
                    <th style="color: #FF7E00">Advanced Constant</th>
                    <th style="color: #F12929">Expert Constant</th>
                    <th style="color: #8E1BE5">Master Constant</th>
                    <th style="color: #FF173D">Ultima Constant</th>
                    <th style="color: #F12929">Expert ND</th>
                    <th style="color: #8E1BE5">Master ND</th>
                    <th style="color: #FF173D">Ultima ND</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for row in musics %}
                    <tr>
                        <td><img src="{{ row['jacket'] }}" alt="{{ row['title'] }}" width="64px" height="64px" loading="lazy"></td>
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['title'] }}</td>
                        <td>{{ row['ruby'] }}</td>
                        <td>{{ row['artist'] }}</td>
                        <td>{{ row['genre'] }}</td>
                        <td>{{ row['version'] }}</td>
                        <td>
                            {% if row['bpm'] >= 0 %}
                                {{ row['bpm'] }}
                            {% else %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['bpm'] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row['basic-const'] > 0 %}
                                {{ row['basic-const'] }}
                            {% elif row['basic-const'] < 0 %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['basic-const'] }}</span>
                            {% else %}
                                <span style="color: #c0c0c0; font-style: italic">{{ row['basic-const'] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row['advanced-const'] > 0 %}
                                {{ row['advanced-const'] }}
                            {% elif row['advanced-const'] < 0 %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['advanced-const'] }}</span>
                            {% else %}
                                <span style="color: #c0c0c0; font-style: italic">{{ row['advanced-const'] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row['expert-const'] > 0 %}
                                {{ row['expert-const'] }}
                            {% elif row['expert-const'] < 0 %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['expert-const'] }}</span>
                            {% else %}
                                <span style="color: #c0c0c0; font-style: italic">{{ row['expert-const'] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row['master-const'] > 0 %}
                                {{ row['master-const'] }}
                            {% elif row['master-const'] < 0 %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['master-const'] }}</span>
                            {% else %}
                                <span style="color: #c0c0c0; font-style: italic">{{ row['master-const'] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row['ultima-const'] > 0 %}
                                {{ row['ultima-const'] }}
                            {% elif row['ultima-const'] < 0 %}
                                <span style="color: #c74930; font-weight: bold; font-style: italic">{{ row['ultima-const'] }}</span>
                            {% else %}
                                <span style="color: #c0c0c0; font-style: italic">{{ row['ultima-const'] }}</span>
                            {% endif %}
                        </td>
                        <td>{{ row['expert-nd'] }}</td>
                        <td>{{ row['master-nd'] }}</td>
                        <td>{{ row['ultima-nd'] }}</td>
                        <td style="text-align: center">
                            <a class="btn btn-sm btn-danger" href="/delete-music?id={{ row['id'] }}">
                                <i class="bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>

</html>